{{!-- Content --}}
<main role="main">
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="display-4">Welcome to Altitude</h1>
            <p class="lead">This is for demo purpose only.</p>
            <a class="btn btn-primary btn-lg" href="/signup" role="button">Get Started</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Feature One</h2>
                <p>blah blah blah</p>
                <p><a class="btn btn-secondary" href="/signup" role="button">Get Started &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Feature Two</h2>
                <p>blah blah blah</p>
                <p><a class="btn btn-secondary" href="/signup" role="button">Get Started &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Feature Three</h2>
                <p>blah blah blah</p>
                <p><a class="btn btn-secondary" href="/signup" role="button">Get Started &raquo;</a></p>
            </div>
        </div>
    </div>
</main>
