<div class="container mt-5">
    <h2 class="text-center mb-4" style="color: white">Plans</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm text-center">
                <div class="card-body">
                    <h5 class="card-title">Basic</h5>
                    <ul class="list-unstyled">
                        <li>Basic 1</li>
                        <li>Basic 2</li>
                        <li>Basic 3</li>
                    </ul>
                    <a href="/checkout" class="btn btn-primary">Choose Basic</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm text-center">
                <div class="card-body">
                    <h5 class="card-title">Intermediate</h5>
                    <ul class="list-unstyled">
                        <li>Intermediate 1</li>
                        <li>Intermediate 2</li>
                        <li>Intermediate 3</li>
                    </ul>
                    <a href="/checkout" class="btn btn-primary">Choose Intermediate</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm text-center">
                <div class="card-body">
                    <h5 class="card-title">Advance</h5>
                    <ul class="list-unstyled">
                        <li>Advance 1</li>
                        <li>Advance 2</li>
                        <li>Advance 3</li>
                    </ul>
                    <a href="/checkout" class="btn btn-primary">Choose Advance</a>
                </div>
            </div>
        </div>
    </div>
</div>