<main role="main" class="container mt-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="/dashboard" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="/workouts" class="list-group-item list-group-item-action active">Workouts</a>
                <a href="/diary" class="list-group-item list-group-item-action">Workout Diary</a>
            </div>
        </div>
        
        <!-- Main Content -->
        <div class="col-md-9">
            <h2>Workouts Library</h2>
            <div class="row">
                {{#each categories}}
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body h-100">
                            <h5 class="card-title display-1"><a href="/workouts/{{this}}">{{this}}</a></h5>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>